

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,800;1,400&display=swap');

body {
    background-color: #F2E3E0;
    font-family: 'Raleway', sans-serif;
}
banner{
    background-image: url(../Images/Roses.png);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 33.9vh;
    text-align: center;
}
logo{
    width: 15vw;
    height: auto;
}
.LogoImg{
    width: 100%;
    height: auto;
    border-radius: 50% 50% 50% 50%;
}
h1{
    font-weight: 800;
    /*font-style: italic;*/
    color: #4C4C4B;
    font-size: 4vw;
    min-width: 33vw;
    max-width: 60vw;  
    

}
/*~~~~~~~~~~~~~~~~~ Tarjetas*/
/* ################### ESTATUAS #################################*/
/* Centrar imágenes de estatuas*/
.responsive {
  display: block;
  width: 90%;
  height: auto;

  margin-left: auto; 
  margin-right: auto;
}
/* Estilo de Títulos de estatuas*/
h3 {
  font-size: 50px;
  color: #4C4C4B;
  word-break: break-all;
  text-align: center;
}
/* Etiqueta de estatuas */
.Etiqueta {
  width:90%;
   height:auto;
  background-color: #E89B93;
  border:3px;
  border-radius: 22px;
   box-shadow: 2px 2px 5px #999;
  
}
/* Centrado de etiqueta */
.DentroEtiqueta{
  text-align:center;
}
/* Margenes del row de estatuas*/
.row {
  margin: 8px -16px;
}


.row,
.row > .column {
  padding: 8px;
}

/* Crear tres columnas */
.column {
  float: left;
  width: 33%;
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {

}
@media only screen and (max-width: 650px){
    logo{
        width: 30vw;
    }
    h1{
        font-size: 6vw;
        max-width: 50vw;;
    } 
     .column {
    width: 50%;
  }
  .etiqueta {
  width:50%;
   height:30%;
  background-color: #E89B93;
  border-radius: 30%;
}
}
