

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,800;1,400&display=swap');

body {
    background-color: #F2E3E0;
    font-family: 'Raleway', sans-serif;
}
banner{
    background-image: url(Roses.png);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 33.9vh;
    text-align: center;
}
logo{
    width: 15vw;
    height: auto;
}
.LogoImg{
    width: 100%;
    height: auto;
    border-radius: 50% 50% 50% 50%;
}
h1{
    font-weight: 800;
    /*font-style: italic;*/
    color: #4C4C4B;
    font-size: 4vw;
    min-width: 33vw;
    max-width: 60vw;  
    

}
@media only screen and (max-width: 650px){
    logo{
        width: 30vw;
    }
    h1{
        font-size: 6vw;
        max-width: 50vw;;
    } 
    
}
